<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: head">
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
</head>
<body>
	<header th:replace="layout/header :: header"></header>
	<br><br>
	<div class="container">
			<br>
			<div align="center" class="mb-3">
				<h2>Registrar Foto</h2>
			</div>
			<br>
			<div class="card" style="width: 40rem; margin: auto auto;">
				<div class="card-body">
					<br>
					<form th:action="@{/foto/save}" th:object="${fotoModel}" method="post">
						<input type="hidden" th:field="*{idFoto}" readonly="readonly" />
						
						<div class="form-group">
							<div class="row">
								<div class="col-2">
									<label for="nombreFoto">Nombre:</label>
								</div>
								<div class="col-10">
									<input type="text" name="nombreFoto" class="form-control" th:field="*{nombreFoto}" required>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="row">
								<div class="col-2">
									<label for="imgFoto">Imagen:</label>
								</div>
								<div class="col-10">
									<input type="text" name="imgFoto" class="form-control" th:field="*{imgFoto}" required>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="row">
								<div class="col-2">
									<label for="descrFoto">Descripcion:</label>
								</div>
								<div class="col-10">
									<input type="text" name="descrFoto" class="form-control" th:field="*{descrFoto}" required>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="row">
								<div class="col-2">
									<label for="anoFoto">Año:</label>
								</div>
								<div class="col-10">
									<input type="number" name="anoFoto" class="form-control" th:field="*{anoFoto}" required>
								</div>
							</div>
						</div>
						
						
						
						
						
						
						
						<div class="form-group">
							<div class="row">
								<div class="col-10" style="margin: auto auto;">
									<button type="submit" class="btn btn-primary btn-block">Registrar</button>
								</div>
							</div>
						</div>
						
					
					</form>
			
				</div>
			
			
			</div>
		
		</div>
		<br><br><br><br>
        <footer th:replace="layout/userFooter :: footer"></footer>
        

</body>
</html>