<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/header :: head">
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
</head>
<body>
	<header th:replace="layout/header :: header"></header>
		<br><br>
		<div class="container mt-5 mb-5">
			<br>
			<div align="center">
				<h2>Lista de Material Educativo</h2>
			</div>
				
			<br> 
			<a href="/materialEdu/materialEduForm"><button type="button" class="btn btn-primary mb-3">Crear</button></a>
			
			<table id="example" class="table table-bordered table-striped">
				<thead>
					<tr class="text-center">
						<th>Nombre</th>
						<th>Descripcion</th>
						<th>Nivel Educacional</th>
						<th>Tipo</th>
						<th>Editar</th>
						<th>Eliminar</th>
						
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="materialEdu: ${materialEdus}">
				
					<td th:text="${materialEdu.nombreMaterialEdu}"></td>
						<td th:text="${materialEdu.descrMaterialEdu}"></td>
						<td th:text="${materialEdu.nivelMaterialEdu}"></td>
					<td th:text="${materialEdu.tipoMaterialEdu}"></td>
				
					<td style="text-align: center"><a th:href="@{'/materialEdu/materialEduForm/' + ${materialEdu.idMaterialEdu}}"><button type="button" class="btn btn-success">Editar</button></a></td>
					<td style="text-align: center"><a th:href="@{'/materialEdu/delete/' + ${materialEdu.idMaterialEdu}}"><button type="button" class="btn btn-danger">Eliminar</button></a></td>
				</tr>
			</tbody>
			
			
			</table>
		
		</div>
		<br><br><br><br>
        <footer th:replace="layout/userFooter :: footer"></footer>
        


		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
		<script th:src="@{/js/datatables.min.js}"></script>
		<script th:src="@{/js/datatable-language.js}"></script>

</body>
</html>