<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: head">
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
</head>
<body>
	<header th:replace="layout/header :: header"></header>
	<br><br>
	<div class="container">
			
			<div align="center" class="mb-3">
				<h2>Registrar Obra</h2>
			</div>
			<br>
			<div class="card" style="width: 40rem; margin: auto auto;">
				<div class="card-body">
					<br>
					<form th:action="@{/obra/save}" th:object="${obraModel}" method="post">
						<input type="hidden" th:field="*{idObra}" readonly="readonly" />
						
						<div class="form-group">
							<div class="row">
								<div class="col-2">
									<label for="nombreObra">Nombre:</label>
								</div>
								<div class="col-10">
									<input type="text" name="nombreObra" placeholder="Ingrese el nombre de la obra" class="form-control" th:field="*{nombreObra}" required>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="row">
								<div class="col-2">
									<label for="materialObra">Material:</label>
								</div>
								<div class="col-10">
									<input type="text" name="materialObra" placeholder="Ingrese el tipo de material" class="form-control" th:field="*{materialObra}" required>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="row">
								<div class="col-2">
									<label for="descrObra">Descripcion:</label>
								</div>
								<div class="col-10">
									<textarea class="form-control" placeholder="Escriba la descripcion" rows="5" cols="15" name="descrObra" th:field="*{descrObra}" ></textarea>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="row">
								<div class="col-2">
									<label for="imgObra">Imagen:</label>
								</div>
								<div class="col-10">
									<input type="text" name="imgObra" placeholder="Ingrese ruta de la imagen" class="form-control" th:field="*{imgObra}" >
								</div>
							</div>
						</div>
						
						
						
						<div class="form-group">
							<div class="row">
								<div class="col-2">
									<label for="medidasObra">Medidas:</label>
								</div>
								<div class="col-10">
									<input type="text" name="medidasObra" placeholder="Ingrese las medidas" class="form-control" th:field="*{medidasObra}" >
									
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="row">
								<div class="col-2">
									<label for="anoObra">Año:</label>
								</div>
								<div class="col-10">
									<input type="number" name="anoObra" placeholder="Ingrese el año" class="form-control" th:field="*{anoObra}" required>
								</div>
							</div>
						</div>
						
						
						
						
						
						
						
						<div class="form-group">
							<div class="row">
								<div class="col-10" style="margin: auto auto;">
									<button type="submit" class="btn btn-primary btn-block">Registrar</button>
								</div>
							</div>
						</div>
						
					
					</form>
			
				</div>
			
			
			</div>
		
		</div>
		
		<br><br><br><br>
        <footer th:replace="layout/userFooter :: footer"></footer>
        

</body>
</html>