<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: head">
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
</head>
<body>
	<header th:replace="layout/header :: header"></header>
	<br><br>
	<div class="container">
			<br>
			<div align="center" class="mb-3">
				<h2>Registrar Taller</h2>
			</div><br>
			<div class="card" style="width: 40rem; margin: auto auto;">
				<div class="card-body">
					<br>
					<form th:action="@{/taller/save}" th:object="${tallerModel}" method="post">
						<input type="hidden" th:field="*{idTaller}" readonly="readonly" />
						
						<div class="form-group">
							<div class="row">
								<div class="col-2">
									<label for="nombreTaller">Nombre:</label>
								</div>
								<div class="col-10">
									<input type="text" name="nombreTaller" class="form-control" th:field="*{nombreTaller}" required>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="row">
								<div class="col-2">
									<label for="descrTaller">Descripcion:</label>
								</div>
								<div class="col-10">
									<input type="text" name="descrTaller" class="form-control" th:field="*{descrTaller}" required>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="row">
								<div class="col-2">
									<label for="encargadoTaller">Encargado:</label>
								</div>
								<div class="col-10">
									<input type="text" name="encargadoTaller" class="form-control" th:field="*{encargadoTaller}" required>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="row">
								<div class="col-2">
									<label for="cantAlumnosTaller">Cantidad de alumnos:</label>
								</div>
								<div class="col-10">
									<input type="number" name="cantAlumnosTaller" class="form-control" th:field="*{cantAlumnosTaller}" required>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="row">
								<div class="col-2">
									<label for="horarioTaller">Horario:</label>
								</div>
								<div class="col-10">
									<input type="text" name="horarioTaller" class="form-control" th:field="*{horarioTaller}" required>
								</div>
							</div>
						</div>
						
						<div class="form-group">
						<div class="row">
							<div class="col-2">
								<label for="Material">Material:</label>
							</div>
							<div class="col">
								<select id="buscador" th:name="materialEdu" class="col-12">
									<option th:each="materialEdu: ${materiales}"
										th:value="${materialEdu.idMaterialEdu}" th:text="${materialEdu.nombreMaterialEdu}" th:selected="${materialEdu.idMaterialEdu == idMateriales}" th:if="${tallerModel.idTaller!=0} AND ${idMateriales != null}">
									</option>
									<option th:each="materialEdu: ${materiales}"
										th:value="${materialEdu.idMaterialEdu}" th:text="${materialEdu.nombreMaterialEdu}" 
										th:if="${tallerModel.idTaller==0} OR ${idMateriales == null}">
									</option>
								</select>
							</div>
							<div class="col">
					        	<span class="badge badge-pill badge-primary" th:each="materialEdu: ${materiales}" th:text="${materialEdu.nombreMaterialEdu}"></span>
							</div>
						</div>
					</div>
					
					
						
						
						
						
						
						<div class="form-group">
							<div class="row">
								<div class="col-10" style="margin: auto auto;">
									<button type="submit" class="btn btn-primary btn-block">Registrar</button>
								</div>
							</div>
						</div>
						
					
					</form>
			
				</div>
			
			
			</div>
		
		</div>
		<br><br><br><br>
        <footer th:replace="layout/userFooter :: footer"></footer>
        
		
		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script>
		$(document).ready(function() {
			$('#buscador').select2();
			$('#buscador2').select2();
			
		});
	</script>
	
	<!-- Select2 -->
	<script th:src="@{/js/select2.js}"></script>

</body>


</html>