<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: head">
<head th:replace="layout/userFooter :: foot">

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	
	
	<link rel="stylesheet" type="text/css" href="../css/jquery.dynatable.css" />
	
	<!--  link href="./static/css/jquery.dynatable.css" rel="stylesheet" 
	th:href="@{/css/jquery.dynatable.css}"-->
	

	
	<title th:text="${title}"></title>
	
</head>
<body>
	<header th:replace="layout/userheader :: header"></header>
		<br>
		
		<!--Inicio Breadumbs-->
        
        <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent pl-0 ">
                      <li class="breadcrumb-item"><a  th:href="@{/user/userIndex}">Inicio </a></li>
                        <li class="breadcrumb-item active" >Listado de fotos</li>
                    </ol>
                  </nav>
              </div>
        <!--Fin Breadumbs-->
		
		<div class="container mt-5 mb-5">
			
			<div align="left">
				<h2>Listado de Fotos</h2>
			</div>
			
			<div>
				<br> 
			<ul id="ul-example" class="row">

              				
			                <li th:each="foto: ${fotos}" class="span4" data-color="gray" >
			                
			                    <div class="thumbnail">
			                      <div class="thumbnail-image justify-content-center">
			                        <img style="height: 205px;" th:src="@{/img/avatar.png}" src="./static/img/avatar.png" />
			                      </div>                  
			                       <div class="caption">
			                          <h4 th:text="${foto.nombreFoto}"></h4>
			                          <p th:text="${foto.descrFoto}"></p>
			                          <p th:text="${foto.anoFoto}"></p>
			                          <p> 
			                          <a type="button" th:href="@{/user/getFoto/{id}(id=${foto.idFoto})}" class="btn btn-secondary">Ver Mas</a>
			                          </p>
			                         
			                        </div>
			                    </div>
			                 </li>
              
              
                    

                    
                    
                  </ul>
			
				
			</div>
				
			
			
			
		
		</div>
		
		 <br><br><br><br>
        <footer th:replace="layout/userFooter :: footer"></footer>
        


		
		
		
		
		
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
  	<script th:src="@{/js/jquery.dynatable.js} " src="./static/js/jquery.dynatable.js"></script>
    <script th:src="@{/js/dinos.js}" src="./static/js/dinos.js"></script>

</body>
</html>