<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/header :: head">
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
</head>
<body>
	<header th:replace="layout/userheader :: header"></header>
		<br>
		
		<!--Inicio Breadumbs-->
        
            <div class="container mt-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent pl-0">
                      <li class="breadcrumb-item"><a  th:href="@{/user/userIndex}">Inicio </a></li>
                      <li class="breadcrumb-item"><a  th:href="@{/user/userFotos}">Listado de fotos </a></li>
                        <li class="breadcrumb-item active" >Detalle de foto </li>
                        
                    </ol>
                  </nav>
              </div>
        <!--Fin Breadumbs-->
		
		<div class="container mt-5 mb-5">
			
			

		<div class="row">
			<div class="col-md-12">
				<h2 th:if="${foto == null || foto.idFoto==0}">No
					se pudieron obtener los datos de la foto</h2>
				<div th:if="${foto!=null && foto.idFoto !=0}"
					class="container ">
					<h2>Detalles de foto</h2>
					<br>
					<div class="row">
						<div class="col-3 mr-3">
							<div class="thumbnail-image justify-content-center">
			                        <img style="width: 280px" th:src="@{/img/avatar.png}" src="./static/img/avatar.png" />
			                      </div>
						</div>
						<div class="col-8 ml-4">
						
						<div class="d-flex mb-4">
							<div class="mr-auto" >
								<h3 th:text="${foto.nombreFoto}"> </h3>
							</div>
							<div class="ml-auto" >
								 <p>Año:</p> <p th:text="${foto.anoFoto}"> </p>
							</div>
						
						</div>
						<br>
							
							
							
							<div class="col">
								<h5  th:text="${foto.descrFoto}"> </h5>
							<br>
							

							</div>
							
							<br>
							
							
							
						
						</div>
					
					
					</div>
					
					
					

					
				</div>
			</div>
		</div>
	
			
		
		</div>
 <br><br><br><br>
        <footer th:replace="layout/userFooter :: footer"></footer>
        

		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
		<script th:src="@{/js/datatables.min.js}"></script>
		<script th:src="@{/js/datatable-language.js}"></script>

</body>
</html>