<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/userHeader :: head">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title th:text="${title}"></title>
</head>
<body>

<header th:replace="layout/userHeader :: header"></header>
		<br>
<!--Inicio Breadumbs-->
        
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent pl-0 ">
                  <li class="breadcrumb-item"><a  th:href="@{/user/userIndex}">Inicio </a></li>
                    <li class="breadcrumb-item active" >¿Quienes Somos?</li>
                </ol>
              </nav>
          </div>
    <!--Fin Breadumbs-->

        <div class="container">
            <div class="row">
                <h3>Mision</h3>
            </div>
            
                <div class="row">
                	<p class="text-justify">Proteger y difundir el legado de Marta Colvin, resignificando el valor de la escultura en conjunto con la comunidad. </p>
				</div>
				<br><br>
            
            <div class="row">
                    <h3>Vision</h3>
             </div> 
             
             <div class="row">
                  <p class="text-justify"> Aportar significativamente al desarrollo cultural y educativo del territorio, a través de la difusión del arte de Marta Colvin. </p>
             </div>
             <br><br>     
                    
                    
    
            
            <div class="row">
                    <h3>Historia</h3>
                    <p class="text-justify">Praesent commodo cursus magna, vel scelerisque nisl consecteturPraesent commodo cursus magna, 
                            vel scelerisque nisl consecteturPraesent commodo cursus magna, vel scelerisque nisl consecteturPraesent commodo cursus magna,
                            vel scelerisque nisl consecteturPraesent commodo cursus magna, vel scelerisque nisl consecteturPraesent commodo cursus magna, vel scelerisque nisl consecteturPraesent commodo cursus magna, 
                            vel scelerisque nisl consecteturPraesent commodo cursus magna, vel scelerisque nisl consecteturPraesent commodo cursus magna,
                            vel scelerisque nisl consecteturPraesent commodo cursus magna, vel scelerisque nisl consecteturPraesent commodo cursus magna, vel scelerisque nisl consecteturPraesent commodo cursus magna, 
                            vel scelerisque nisl consecteturPraesent commodo cursus magna, vel scelerisque nisl consecteturPraesent commodo cursus magna,
                            vel scelerisque nisl consecteturPraesent commodo cursus magna, vel scelerisque nisl consecteturPraesent commodo cursus magna, vel scelerisque nisl consecteturPraesent commodo cursus magna, 
                            vel scelerisque nisl consecteturPraesent commodo cursus magna, vel scelerisque nisl consecteturPraesent commodo cursus magna,
                            vel scelerisque nisl consecteturPraesent commodo cursus magna, vel scelerisque nisl consectetur</p>
    
            </div>
                
        </div>

	 <br><br><br><br>
        <footer th:replace="layout/userFooter :: footer"></footer>
        
</body>
</html>