<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/userHeader :: head">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title th:text="${title}"></title>
</head>
<body>
	<header th:replace="layout/userHeader :: header"></header>
	<br>
	
	 <!--Inicio Breadumbs-->
        
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent pl-0 ">
              <li class="breadcrumb-item"><a  th:href="@{/user/userIndex}">Inicio </a></li>
                <li class="breadcrumb-item" ><a th:href="@{/user/userMediacion}">Mediacion y Educación</a> </li>
            </ol>
          </nav>
      </div>
<!--Fin Breadumbs-->


 <br><br><br>
        <footer th:replace="layout/userFooter :: footer"></footer>
        <br><br>
</body>
</html>