<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/userHeader :: head">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title th:text="${title}"></title>
</head>
<body>
	<header th:replace="layout/userHeader :: header"></header>
	<br>
	
	 <!--Inicio Breadumbs-->
        
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent pl-0 ">
              <li class="breadcrumb-item"><a th:href="@{/user/userIndex}">Inicio </a></li>
                <li class="breadcrumb-item active" >Marta Colvin </li>
            </ol>
          </nav>
      </div>
<!--Fin Breadumbs-->

    <div class="container mt-5">

        <!--Biografia-->
        <div class="row">
                
                <div class="col-7">
                    <h4>Biografia</h4>
                    <p class="text-justify">
                    	Colvin era muy diestra en las "técnicas de la talla en piedra, el vaciado en bronce y el desbaste en madera, siendo esta última una característica en su producción".</p>​
					<p class="text-justify">
						En sus comienzos, predominaban las figuras humanas, pero fue evolucionando "hacia un estilo que intentó representar las fuerzas elementales de la naturaleza".​ Hacia los años 1960 encontró su sello particular, que se caracteriza por la reunión de varios bloques ensamblados entre sí, que levantan la obra en sentido vertical y la expanden en sentido horizontal, generando tensión; la superficies fueron marcadas con incisiones profundas que acentúan las direcciones del volumen, así como sus ritmos y tensiones. Desarrolló así "una temática abstracta que plantea la búsqueda de formas y simbologías sudamericanas".</p>​
					<p class="text-justify">
						El archivo personal de la artista fue donado por la Sucesión Marta Colvin en 2007 a a la Biblioteca y Archivo del Museo Nacional de Bellas Artes y en los años siguientes se organizó el Fondo Marta Colvin, que está disponible a los estudiosos desde 2010. A un costado de la escuela de Diseño Gráfico del Campus Fernando May de la Universidad del Bío-Bío se ubica el Museo Marta Colvin con su parque de esculturas. Estos terrenos eran parte del fundo El Mono, de su primer marido, Fernando May Didier, en cuya casona la futura escultora vivió desde los 16 a los 31 años de edad; el hijo de ambos, Fernando May Colvin los donó a la universidad.</p>
                    
                    
                    
                </div>
                <div class="col-5">
                    <img  th:src="@{/img/marta.jpg}" src="./static/img/marta.jpg"  class="" alt="...">

              </div>
                

        </div>
        <!--Premio y distinciones-->
        <br>
        <div class="row">
        		<div class="row">
        			<h4>Premios y distinciones</h4>
        			<br><br>
        		</div>
                
               
                <div class="row">
                <p class="text-justify">
				    Segundo Premio Escultura, Salón Anual de Alumnos, Escuela de Bellas Artes, Santiago, 1939</p>
				<p class="text-justify">    
				    Primer Premio, Salón Oficial, Museo Nacional de Bellas Artes, Santiago, 1944</p>
				<p class="text-justify">    
				    Tercer Premio, Salón Conmemorativo del Centenario de la Universidad de Chile, Santiago, 1944</p>
				 <p class="text-justify">   
				    Segunda Medalla, Salón de Verano de Viña del Mar, 1944</p>
				 <p class="text-justify">   
				    Segundo Premio Concurso Monumento a Don José Victorino Lastarria, Santiago, 1946</p>
				<p class="text-justify">    
				    Primer Premio Monumento a la Memoria del doctor Enrique Arancibia, Cementerio General de Santiago, 1946</p>
				<p class="text-justify">    
				    Monumento al prócer venezolano Antonio José de Sucre, Santiago, 1947</p>
				<p class="text-justify">    
				    Primer Premio, Mención Escultura, Salón Oficial, Museo Nacional de Bellas Artes, Santiago, 1948</p>
				<p class="text-justify">    
				    Beca del Gobierno de Francia, 1948</p>
				 <p class="text-justify">   
				    Primer Premio de Escultura, Salón IV Centenario de Concepción, 1950</p>
				<p class="text-justify">    
				    Primer Premio, Mención Escultura, Salón Oficial, Museo Nacional de Bellas Artes, Santiago, 1951</p>
				<p class="text-justify">    
				    Mención Honrosa Concurso Internacional del Monumento al Prisionero Político Desconocido, Londres, 1952</p>
				 <p class="text-justify">   
				    Beca del Consejo Británico a Inglaterra, 1952</p>
				 <p class="text-justify">   
				    Primer Premio, Mención Dibujo, Salón Oficial, Museo Nacional de Bellas Artes, Santiago, 1955</p>
				  <p class="text-justify">  
				    Busto de Benjamín Vicuña Mackenna, Plaza de l´Amerique Latine, Paris, 1956</p>
				  <p class="text-justify">  
				    Premio de Honor, Salón Oficial, Museo Nacional de Bellas Artes, Santiago, 1956</p>
				  <p class="text-justify">  
				    Primer Premio de Escultura, VIII Bienal de Sao Paulo 1965 por Las torres del silencio</p>
				   <p class="text-justify"> 
				    Hija Ilustre de Chillán</p>
				   <p class="text-justify"> 
				    Medalla de Honor del Senado, Congreso Nacional de Chile, Santiago, 1970</p>
				 <p class="text-justify">   
				    Premio Nacional de Artes Plásticas de Chile 1970</p>
				  <p class="text-justify">  
				    Homenaje de la Comunidad Artística de Lo Curro, Santiago, 1971</p>
				  <p class="text-justify">  
				    Homenaje de la Asociación de Pintores y Escultores de Chile, Santiago, 1971</p>
				  <p class="text-justify">  
				    Premio del Consejo Regional de Isla de Francia, 1982</p>
				  <p class="text-justify">  
				    Miembro de la Academia Chilena de Bellas Artes, Santiago, 1986</p>
				  <p class="text-justify">  
				    Profesora honoris causa del Instituto Profesional de Chillán, 1987</p>
				  <p class="text-justify">  
				    Condecoración de la Orden al Mérito Docente y Cultural Gabriela Mistral, en el grado de Gran Oficial, Santiago, 1982</p>
				  <p class="text-justify">  
				    Premio Rebeca Matte, Ministerio de Educación de Chile, Santiago, 1992</p>
				   <p class="text-justify"> 
				    Premio del Círculo de Críticos de Arte de Chile, Santiago, 1994</p>
				   <p class="text-justify"> 
				    Serie de sellos y sobres 100 años Marta Colvin, Chile, 2007</p>
                </div>
                
                

        </div>
            
    </div>
    
     <br><br><br><br>
        <footer th:replace="layout/userFooter :: footer"></footer>
        

</body>
</html>